if SHIELD_PANDAWINGS_I_LEFT

config ZMK_KEYBOARD_NAME
    default "PandaWings I"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_PANDAWINGS_I_LEFT

if SHIELD_PANDAWINGS_I_LEFT || SHIELD_PANDAWINGS_I_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_PANDAWINGS_I_LEFT || SHIELD_PANDAWINGS_I_RIGHT
